In [2]:
import streamlit as st
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

         lat       lon
0   0.017114  0.008056
1   0.007133  0.003413
2   0.009083  0.012206
3   0.004223  0.000224
4   0.005470  0.000215
..       ...       ...
95  0.018806  0.016230
96  0.012097  0.000599
97  0.002243  0.019960
98  0.012824  0.003716
99  0.018864  0.007505

[100 rows x 2 columns]